$menuText:#5b403d;
$menuActiveText:#ffffff;
$subMenuActiveText:#ffffff;

$menuBg:#ffffff;
$menuHover:#f6f3f2;
$menuActiveBg:#a20513;

$subMenuBg:#ffffff;
$subMenuHover:#f6f3f2;
$subMenuActiveBg:#a20513;

$sideBarWidth: 240px;

$primaryColor: #a20513;
$primaryContainer: #c62828;
$outlineVariant: #e4beba;
$surfaceDim: #dcd9d9;

:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  menuActiveBg: $menuActiveBg;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  subMenuActiveBg: $subMenuActiveBg;
  sideBarWidth: $sideBarWidth;
  primaryColor: $primaryColor;
  primaryContainer: $primaryContainer;
  outlineVariant: $outlineVariant;
  surfaceDim: $surfaceDim;
}