<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zqk.house.user.mapper.UserMapper">
    
    <!-- 公共字段 -->
    <sql id="Base_Column_List">
        id, user_name, doc_number, phone_number, job, work_address, 
        room_number, lease_start_date, lease_end_date, lease_status, create_time, update_time
    </sql>
    
    <!-- 带密码的字段列表 -->
    <sql id="With_Password_Column_List">
        <include refid="Base_Column_List"/>, password
    </sql>
    
    <!-- 查询条件片段 -->
    <sql id="Query_Where_Clause">
        <where>
            <if test="userName != null and userName != ''">
                AND user_name LIKE CONCAT('%', #{userName}, '%')
            </if>
            <if test="docNumber != null and docNumber != ''">
                AND doc_number LIKE CONCAT('%', #{docNumber}, '%')
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                AND phone_number LIKE CONCAT('%', #{phoneNumber}, '%')
            </if>
            <if test="roomNumber != null and roomNumber != ''">
                AND room_number LIKE CONCAT('%', #{roomNumber}, '%')
            </if>
            <if test="leaseStartDate != null">
                AND lease_start_date >= #{leaseStartDate}
            </if>
            <if test="leaseEndDate != null">
                AND lease_end_date &lt;= #{leaseEndDate}
            </if>
        </where>
    </sql>
    
    <!-- 基础查询 -->
    <select id="selectById" resultType="com.zqk.house.user.entity.User">
        SELECT <include refid="Base_Column_List"/>
        FROM user 
        WHERE id = #{id}
    </select>
    
    <select id="selectByDocNumber" resultType="com.zqk.house.user.entity.User">
        SELECT <include refid="Base_Column_List"/>
        FROM user 
        WHERE doc_number = #{docNumber}
        LIMIT 1
    </select>
    
    <select id="selectByPrimaryKey" resultType="com.zqk.house.user.entity.User">
        SELECT <include refid="Base_Column_List"/>
        FROM user 
        WHERE doc_number = #{key}
        LIMIT 1
    </select>
    
    <select id="selectAll" resultType="com.zqk.house.user.entity.User">
        SELECT <include refid="Base_Column_List"/>
        FROM user
    </select>
    
    <!-- 用户认证相关 -->
    <select id="getUserByUsername" resultType="com.zqk.house.user.entity.User">
        SELECT <include refid="With_Password_Column_List"/>
        FROM user 
        WHERE user_name = #{username}
        LIMIT 1
    </select>
    
    <!-- 分页查询 -->
    <select id="getUserList" resultType="com.zqk.house.user.entity.User">
        SELECT <include refid="Base_Column_List"/>
        FROM user
        <include refid="Query_Where_Clause"/>
        ORDER BY create_time DESC
        LIMIT #{offset}, #{pageSize}
    </select>
    
    <select id="getTotal" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM user
        <include refid="Query_Where_Clause"/>
    </select>
    
    <!-- 增删改操作 -->
    <insert id="insert" parameterType="com.zqk.house.user.entity.User">
        INSERT INTO user(
            user_name, doc_number, phone_number, job, work_address, 
            room_number, lease_start_date, lease_end_date, lease_status,
            create_time, update_time
        )
        VALUES(
            #{userName}, #{docNumber}, #{phoneNumber}, #{job}, #{workAddress}, 
            #{roomNumber}, #{leaseStartDate}, #{leaseEndDate}, #{leaseStatus},
            NOW(), NOW()
        )
    </insert>
    
    <update id="update" parameterType="com.zqk.house.user.entity.User">
        UPDATE user 
        SET user_name = #{userName},
            doc_number = #{docNumber},
            phone_number = #{phoneNumber},
            job = #{job},
            work_address = #{workAddress},
            room_number = #{roomNumber},
            lease_start_date = #{leaseStartDate},
            lease_end_date = #{leaseEndDate},
            lease_status = #{leaseStatus},
            update_time = NOW()
        WHERE id = #{id}
    </update>
    
    <delete id="deleteByPrimaryKey">
        DELETE FROM user 
        WHERE id = #{key}
    </delete>
    
    <!-- 获取房间历史住客 -->
    <select id="getRoomHistory" resultType="com.zqk.house.user.entity.User">
        SELECT <include refid="Base_Column_List"/>
        FROM user 
        WHERE room_number = #{roomNumber}
        ORDER BY lease_start_date DESC, create_time DESC
    </select>
</mapper> 